
.header-container {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: #dbc1ac;
    color: #ffffff;
}

.left-nav {
    display: flex;
    gap: 2px; /* Минимальное расстояние между кнопками "Главная" и "О нас" */
}

.site-title {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding-top: 6px;
}
.hello-user{
    font-size: 14px;
}

.right-nav {
    display: flex;
    gap: 15px; /* Расстояние между кнопками "Регистрация" и "Авторизация" */
    margin-left: auto; /* Раздвигаем контейнер вправо */
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 5px; 
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: #e2b78c;
    color: #38220f;
    transform: scale(1.05);
}




.base-form {
    background-color: #d8c4b1; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.form-title {
    text-align: center;
    color: #3d2a2b; 
    font-size: 48px;
    padding-bottom: 15px;
}

.form-label {
    display: block;
    margin-top: 15px;
    color: #4b3c35; 
}

.form-input {
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #a88c7b; 
    border-radius: 5px;
}

.form-input:focus {
    border-color: #7f4e4a; 
    outline: none;
}

.form-button {
    margin-top: 25px;
    background-color: #7f4e4a; 
    color: #ffffff; 
    padding: 12px 20px;
    border: none; 
    border-radius: 5px; 
    font-size: 18px; 
    cursor: pointer;    
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-button:hover {
    background-color: #a88c7b; 
    transform: scale(1.05);
}

.form-button:active {
    transform: scale(0.95); 
}


.about-section, .team-section, .contact-section {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-title, .team-title, .contact-title {
    font-size: 28px;
    color: #3d2a2b;
}

.about-description {
    font-size: 16px;
    line-height: 1.5;
}

.team-member {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.team-photo {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.team-info h3 {
    margin: 0;
    font-size: 20px;
}