<header>
    <div class="header-container">
        <nav class="left-nav">
            <a href="/" class="nav-link">Главная</a>
            <a href="/about" class="nav-link">О нас</a>
        </nav>
        <h1 class="site-title">Заголовок сайта</h1>
        <div class="right-nav">
            <a href="/register" class="nav-link">Регистрация</a>
            <a href="/login" class="nav-link">Авторизация</a>
        </div>
    </div>
</header>