<header>
    <div class="header-container">
        <nav class="left-nav">
            <div>
                <h1 class="site-title">Менеджер проектов</h1>
                <div class="hello-user">Привет <%= username ? username : 'Гость' %></div>
            </div>
            <a href="/" class="nav-link">Главная</a>
            <a href="/about" class="nav-link">О нас</a>
        </nav>
        <div class="right-nav">
            <a href="/register" class="nav-link">Регистрация</a>
            <a href="/login" class="nav-link">Авторизация</a>
        </div>
    </div>
</header>